.selectComponent {
  width: 100%;
  height: 30px;
  background: var(--white-color);
  border: 1px solid var(--input-borders-color);
  border-radius: 5px;
  color: var(--main-color);
  font: var(--normal-font);
  outline: none;
  margin-bottom: 30px;
  text-transform: capitalize;
  option {
    text-transform: capitalize;
  }
}

