.gameLog {
  .gameLog__list-item {
    padding: 7px 10px;
    border-radius: 6px;
    margin-bottom: 10px;
    background: var(--main-color);
    color: var(--white-color);
    span:first-child {
      display: inline-block;
      width: 57px;
    }
  }
}
