.header {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color);
  box-shadow: 0 3px 30px rgba(0, 0, 0, 0.09);
  .header__links {
    display: flex;
  }
  li {
    list-style: none;
  }
  .simple-link {
    color: var(--white-color);
  }
}
