.loginPage__main {
  padding: 50px 0;
  .loginPage__form-wrapper {
    width: 100%;
    max-width: 840px;
    margin: 0 auto;
    background: var(--white-color);
    padding: 55px 55px 75px 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .loginPage__form-wrapper-inner {
    width: 100%;
    max-width: 344px;
  }
  .loginPage__form-input-wrapper {
    .simple-link {
      width: 140px;
      margin-left: auto;
      padding: 10px 0 0 0;
      text-align: right;
    }
  }
  .loginPage__form-buttons-wrapper {
    margin-top: 50px;
  }
  .loginPage__form-buttons-info {
    text-align: center;
    margin: 50px 0 35px 0;
  }
  .loginPage__form-social-buttons {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 600px) {
  div.loginPage__main {
    .loginPage__form-social-buttons {
      flex-direction: column;
      align-items: center;
    }
    .loginPage__form-wrapper {
      padding: 25px 25px 45px 25px;
    }
  }
}
