.homePage__kitties-item {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 3px 30px rgba(0, 0, 0, 0.09);

  h3{
    text-align: center;
  }

  .homePage__kitties-item-image {
    height: 150px;
    display: flex;
    justify-content: center;
    img {
      height: 100%;
      width: auto;
    }
  }
  .homePage__kitties-item-content-inner {
    li {
      color: var(--dark-text-color);
      font: var(--normal-font);
      margin-bottom: 3px;
    }
    span:first-child {
      display: inline-block;
      width: 90px;
      font-weight: 700;
      margin-right: 10px;
    }
  }
}

