.resetPasswordPage__main {
  padding: 50px 0;
  .resetPasswordPage__form-wrapper {
    width: 100%;
    max-width: 840px;
    margin: 0 auto;
    background: var(--white-color);
    padding: 55px 55px 75px 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .resetPasswordPage__form-wrapper-inner {
    width: 100%;
    max-width: 344px;
  }
  .resetPasswordPage__form-buttons-info {
    display: flex;
    justify-content: center;
    margin-top: 18vh;
    .simple-link {
      padding: 0 0 0 10px;
    }
  }
}


